
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-screen {
    height: 100%;
    width: 100%;
}

#all-timer-options{
    width: 100px;
    text-align: left;
}

body{
    background-color: rgb(235, 114, 114);
    text-align: center;
    
}

#button-timer{

    border: 2px solid #681e1e;
    box-shadow: 10px;
    width: 450px;
    border-radius: 10px;
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
    
}
#button-timer > button{
    width: 100px;
}

#button-timer > button:hover{
    width: 150px;
}


#title{
    margin-right: 70px;

    text-align: right;
    font-size: 50px;
}

#display{
    font-family:'Segoe UI', Roboto;
    text-align: center;
    margin: 40px;
    font-size: 40px;
}