
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-screen {
    height: 100%;
    width: 100%;
}

#all-timer-options{

    background-color: rgb(20, 20, 20);
    width: 200px;


}
#timer-selection{

    width: 50%;
}

.label_set_timer{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

body{
    background-color: rgb(235, 114, 114);
    
}

#button-timer{
    border: 2px solid #681e1e;
    box-shadow: 10px;
    width: 450px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    
}
#button-timer > button{
    background-color: rgb(22, 22, 22);
    width: 100px;
}

#button-timer > button:hover{
    width: 150px;
}


#title{
    font-size: 50px;
}

#display{
    font-family:'Segoe UI', Roboto;
    text-align: center;
    margin: 40px;
    font-size: 40px;
}